<% if @list %>
  <p>Are you sure you want to delete the following note: <em>"<%= @list.name %>"</em>?</p>
  <form action="/<%= @list.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Yes, Delete It!">
    <a href="/<%= @list.id %>">Cancel</a>
  </form>
<% else %>
  <p>List not found.</p>
<% end %>